body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    color: rgb(71, 64, 64);
}

.part1, .part2, .part3 {
    position: relative;
    opacity: 0,70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.part1 {
    background-image: url(./images/markus-spiske-5Vn4uQxnXUs-unsplash.jpg);
    min-height: 100%;
}

.part2 {
    background-image: url(./images/markus-spiske-9pbe-tJFRaU-unsplash.jpg);
    min-height: 100%;
}

.part3 {
    background-image: url(./images/markus-spiske-KpRmbBJv0QQ-unsplash.jpg);
    min-height: 100%;
}

section {
    text-align: center;
    padding: 50px 80px;
    background-color: whitesmoke;
}

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.text .border {
    background-color: rgba(71, 64, 64, 0.664);
    color: whitesmoke;
    padding: 50px;
    border-radius: 21px;
}

.text .border-trans {
    background-color: rgba(236, 236, 236, 0.082);
    padding: 50px;
    border-radius: 21px;
}

@media (max-width: 568px) {
    .part1, .part2, .part3 {
        background-attachment: scroll;
    }
}

